body {
  font-family: "Times New Roman", serif;
  background-color: #121212;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #222;
  padding: 30px;
  max-width: 100%;
  border-radius: 50px;

  width: 450px;
  height: 180px;

  display: flex;
  justify-content: center;
  margin: 100px;
}

button {
  margin: 20px;
  width: 75%;
  border-radius: 20px;
  padding: 12px;

  color: black;

  font-family: "Times New Roman", serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
