body {
  font-family: "Times New Roman", serif;
  background-color: #121212;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.form-container {
  width: 450px;
  max-width:100%;
  margin: 40px auto;

  background-color: #222;
  padding: 30px;
  border-radius: 8px;
}

input[type="text"],
input[type="password"],
select {
  color: white;
  background-color: #333;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
}
.form-name {
  display: flex;
  gap: 20px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 25px;
}

.form-item {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;

  color: black;

  font-family: "Times New Roman", serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

