body {
  font-family: 'Press Start 2P', cursive;
  background-color: ##212529;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: #FFFFFF;
  padding: 30px;
  border: 6px solid #000000;

  width: 500px;
  min-height: auto;
  box-shadow: 10px 10px 0px #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  color: #000;
}

.button-group {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

button {
  width: 150px;
  padding: 12px;
  border: 4px solid #000;
  color: white;
  height: 70px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  background-color: #20c997;
  transition: transform 0.1s;
}

button:active {
  box-shadow: 2px 2px 0px #000;
  transform: translate(2px, 2px);
}

