body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  margin: 0;
  min-height: 100vh;
  background-color: #212529;
  color: #fff;
}

.container {
  max-width: 900px;
  width: 100%;
}

.main-title {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  color: #20c997;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  background: #fff;
  color: #000;
  padding: 40px 30px;
  border: 4px solid #000;
  box-shadow: 12px 12px 0px #000;
  flex: 1;
  min-width: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  font-size: 14px;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 48px;
  margin: 15px 0;
}

.register-box {
  background: #fff;
  color: #000;
  padding: 30px;
  border: 4px solid #000;
  box-shadow: 8px 8px 0px #000;
  max-width: 400px;
  margin: 0 auto;
}

.register-box h3 {
  font-size: 14px;
  margin-top: 0;
  border-bottom: 4px solid #000;
  padding-bottom: 10px;
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 8px;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  border: 4px solid #000;
  font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;
  outline: none;
}


.form-btn {
  background: #20c977;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  border: 4px solid #000;
  font-size: 10px;
  padding: 12px 20px;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 4px 4px 0px #000;
}

.profile-panel {
  margin-top: 60px;
  background: #fff;
  color: #000;
  padding: 25px;
  border: 4px solid #000;
  box-shadow: 8px 8px 0px #000;
}

.profile-link {
  font-size: 10px;
  color: #000;
  background: #ffc107;
  text-decoration: none;
  padding: 8px 12px;
  border: 4px solid #000;
  box-shadow: 4px 4px 0px #000;
  vertical-align: middle;
  margin-left: 15px;
  display: inline-block;
  transition: all 0.1s;
}

.profile-link:hover {
  background: #fff;
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #000;
}

.profile-link:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px #000;
}

.hidden {
  display: none;
}

.submit-btn {
  width: 100%;
  background: #dae0e5;
  font-family: 'Press Start 2P', cursive;
  border: 4px solid #000;
  padding: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 0px #000;
  transition: transform 0.1s; 
}

.submit-btn:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px #000;
}

