body {
  font-family: 'Press Start 2P', cursive;
  background-color: #212529;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  color: #000;
}

.form-container {
  width: 450px;
  max-width:100%;
  margin: 40px auto;

  background: #FFFFFF;
  padding: 30px;
  border: 6px solid #000000;
  box-shadow: 10px 10px 0px #000000;
}

.form-item {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 12px;
  border: 4px solid #000;
  font-size: 10px;
  box-sizing: border-box;
  outline: none;
}

input:focus {
  background-color: #e7f3ff;
}

select {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #20c997;
  color: white;
  border: 4px solid #000;
  transition: transform 0.1s;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

button:active {
  box-shadow: 2px 2px 0px #000;
  transform: translate(2px, 2px);
}
